.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.friends-page {
    background-color: #F3F6ED;
    height: 100%;
    display: flex;
}

.friends-left-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.friendsContainer {
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    height: 93%;
}

.centerText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBarContainer {
    display: flex;
    margin: 1rem;
    height: 7%;
}
.card-mini-header {
    font-weight: bold;
}

.maxWidth {
    width: 100%;
    height: 90%;
}

.profileDetails {
    display: flex;
    min-width: 30%;
}

.friendNotSelectedContainer {
    text-align: center;
}

.friend-item-element {
    margin-bottom: 15px;
    background-color: white;
}

.friend-item-btn {
    flex-direction: row;
    display: flex;
    border: none;
    background-color: #ffff;
    cursor: pointer;
    font-size: medium;
    padding: 0;
    align-items: center;
}

.friendDetailsCardName {
    text-align: center;
    font-weight: bold;
    margin: 1rem 0rem;
}

.addFriendButton {
    width: fit-content;
    height: 20px;
    border-radius: 10px;
    background-color: #9EB98E;
    padding: 5px 10px;
    font-size: small;
}

.addFriendButtonDiv {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    cursor: pointer;
}