.profile-page {
    background-color: #F1B7B5;
    height: 100%;
    display: flex;
    padding-right: 60px;
    padding-left: 60px;
    flex-direction: column;
    display: flex;
    flex: 1;
}
.header-text {
    color: white;
    font-size: x-large;
    margin-top: 50px;
}
.calendar {
    margin-top: 60px;
}
.top-section {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.wishlists-container {
    background-color: #F3F6ED;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 6px;
    margin-top: 20px;
}
.add-wishlist-btn {
    margin-left: 500px;
    border-width: 0;
    background-color: #F3F6ED;
    cursor: pointer;
}
.wishlist-title {
    /* margin-bottom: 60px; */
    font-size: x-large;
}
.add-item-btn {
    border-width: 0;
    background-color: #F3F6ED;
    cursor: pointer;
    margin-bottom: 15px;
}
.wishlist-input {
    border: 0ch;
    padding: 10px;
    margin-bottom: 15px;
    width: 300px;
    display:list-item;
  }
  .add-btn {
      padding: 5px;
      background-color: #DC594F;
      color: white;
      border-width: 0;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 3px;
      margin-right: 15px;
      font-weight: bold;
  }
  .list-item {
     margin-bottom: 10px;
     /* margin-left: -30px; */
  }
  .save-btn {
      display: flex;
      background-color: #DC594F;
      border: none;
      color: white;
      font-weight: bold;
      font-size: medium;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      position: absolute;
      bottom: 50px;
      right: 60px;
      border-radius: 4px;
  }